<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.apink.notice.notice_mapper">
<select id="notice_list" resultType="kr.co.apink.notice.notice_DTO">
select nidx,subject,writer,nview,ndate from notice order by nidx desc
</select>

<select id="notice_count" resultType="Integer">
select count(*) as ctn from notice
</select>

</mapper>