<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.apink.mapper">
<!-- mrp : 53306 -->
<select id="movie_all" resultType="kr.co.apink.movie_DTO">
select * from movie_res order by midx desc
</select>

<!-- webapi : 13306  -->
<select id="store_all" resultType="kr.co.apink.store_DTO">
select * from store order by sidx desc
</select>
</mapper>